
/*************************************************************/
/* ==================== journal sheet ====================== */
/*************************************************************/
.app.journal-sheet {
    font-family: var(--journal-serif);
    font-size: 1.1em;
    line-height: 1.5;
    padding: 10px 25px;

    box-shadow: none;
    border: none;
    background: none;
}

.app.journal-sheet::before {
    position: absolute;
    content: " ";
    width: 106%;
    height: 105%;
    top: -1%;
    left: -3%;
    background: url(../ui/other/paper_texture.webp);
    background-size: cover;
    z-index: -1;

    -webkit-mask-image: url(../ui/other/journal_mask.webp);
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

.app.journal-sheet::after {
    position: absolute;
    content: " ";
    width: 106%;
    height: 105%;
    top: -1%;
    left: -3%;
    background: url(../ui/other/journal_background.webp);
    background-size: 100% 100%;
    opacity: 0.90;
    z-index: -2;
}

.app.journal-sheet img {
    border: none;
}

.app.journal-sheet .window-app .window-header {
    border-bottom: none;
}

.app.journal-sheet .window-header {
    position: relative;
    top: 2%;
    flex: 0 0 40px;
    line-height: 40px;

    color: rgb(93, 24, 13);
    font-weight: 600;
}

.journal-sheet .window-content {
    background: none;
}

.journal-sheet .window-content::before {
    position: absolute;
    width: 512px;
    height: 298px;
    left: -6px;
    top: 12px;
    content: " ";
    background: url(../ui/other/journal_right_top_corner.webp);
    background-size: 100% 100%;
    opacity: 0.09;
    z-index: -1;
}

.app.journal-sheet .window-header .window-title {
    opacity: 0;
}

.app.journal-sheet .window-header {
    border: none;
}

.app:not(.monks-enhanced-journal).journal-sheet form input[name="name"] {
    position: relative;
    z-index: 10;
    padding: 10px 0px 20px 0px;
    margin-bottom: 10px;
    border: none;
    background: none;

    color: rgb(93, 24, 13);
    font-size: .705cm;
    font-weight: bold;
    border-image: url(../ui/frames/brown_line.webp) 25 25 round;
    border-bottom: 5px groove #eeede0;
}

.app:not(.monks-enhanced-journal).journal-sheet .window-resizable-handle {
    bottom: 5%;
    right: 5%;
}

.journal-sheet .header-button.close {
    position: relative;
    width: 36px;
    height: 33px;

    color: rgba(0, 0, 0, 0);
}

.journal-sheet .header-button.close::before {
    width: 36px;
    height: 33px;
    top: 4px;
    position: absolute;
    content: " ";
    background: url(../ui/buttons/close_icon.webp);
    background-size: 100% 100%;
}

.journal-sheet .header-button.close:hover {
    text-shadow: none;
}

.journal-sheet .header-button.close:hover::before {
    background: url(../ui/buttons/close_icon_hover.webp);
    background-size: 100% 100%;
}

.journal-sheet ::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 5px;
    border: none;
    background: #74645526;
}

.journal-sheet ::-webkit-scrollbar-track {
    background: transparent !important;
}

.journal-sheet .window-resizable-handle {
    background: transparent;
    border: none;
    border-radius: 0;
    color: var(--main-text-light-color)
}

.journal-sheet .window-resizable-handle::before {
    position: absolute;
    content: " ";
    background: url(../ui/buttons/players_btn.webp);
    background-size: 100% 100%;
    width: 120%;
    height: 120%;
    top: 0%;
    right: -10%;
}

.journal-sheet button:focus {
    box-shadow: none;
}

.journal-sheet button:hover {
    background: url(../ui/buttons/btn-dnd5e-card_hover.webp) center center no-repeat;
    background-size: 100% 100%;
    box-shadow: none;
}

.journal-sheet button:active {
    background: url(../ui/buttons/btn.webp) center center no-repeat;
    background-size: 100% 100%;
    box-shadow: none;
}

.journal-sheet.image-popout .window-content {
    margin-top: 30px;
    background: none;
}

.journal-sheet a.entity-link,
.journal-sheet a.inline-roll {
    color: revert !important;
    background: #d3c3a7ab !important;
    padding: 0px 3px;
    border: 2px solid #2f271aab;
    border-radius: 4px;
}

.journal-sheet.minimized {
    padding: 1px 0px;
}

.journal-sheet.minimized .window-header .window-title {
    opacity: 100;
    color: rgb(93, 24, 13);
    font-size: .505cm;
    font-weight: bold;
}

.app.journal-sheet.minimized::before {
    -webkit-mask-image: none;
    border-image-source: url(../ui/frames/input_border.webp);
    border-image-slice: 5 20 20 20 fill;
    border-image-repeat: repeat repeat;
    border-image-width: auto;
    border-image-outset: 1px 2px 2px 2px;
    border-radius: 0;
    box-shadow: rgb(0, 0, 0) 0px 0px 20px 0px
}

/*add v10*/

.sheet.journal-entry {
    --sidebar-width-expanded: 270px;
    --sidebar-width-collapsed: 30px;
}
.sheet.journal-entry .journal-sidebar .action-buttons {
    flex: 0.1;
}
.sheet.journal-entry .pages-list .heading-link {
    color:#5d180d;
    font-weight: bold;
}
.sheet.journal-entry .pages-list .page-heading .page-title {
color:#5d180d;
font-weight: bold;
}
.sheet.journal-entry .pages-list .page-heading .page-title:hover {
color:#5d180d !important;
font-weight: bold;
}
.sheet.journal-entry .pages-list .h2 .heading-link {
    color:#5d180d;
    font-weight: bold;
}
.sheet.journal-entry .pages-list .h2 .heading-link:hover {
    color:#5d180d;
    font-weight: bold;
}
.sheet.journal-entry .pages-list .page-heading {
color:#5d180d;
font-weight: bold;
}
.sheet.journal-entry .journal-sidebar .directory-header .view-mode {
color:#5d180d;
}
.directory .directory-header .header-search input {
background: none;
}
.sheet.journal-entry .journal-sidebar .directory-header .collapse-toggle {
color:#5d180d;
}
.sheet.journal-entry .journal-entry-content {
    flex: 1;
    height: 94%;
    margin-top: 15px;
    margin-right: 12px;
    background: none;
    border: none;
    border-radius: 6px 0 0 0;
}
.prosemirror menu {
    background: rgba(0, 0, 0, 0.5);
}
.journal-sheet button {
    position: relative;
    color: var(--main-text-light-color);
    font-weight: 600;
    background: url(../ui/buttons/btn.webp) center center no-repeat;
    background-size: 95% 95%;
    border: none;
}
.prosemirror menu .pm-dropdown > span {
    color:#5d180d;
}
.sheet.journal-entry-page .journal-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}